body{
    border-top: 10px solid #1098ad;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}
#encabezado{
    padding: 20px, 40px, 20px, 40px;
    background-color: #f7f7f7;
    
}
.container{

width: 800px;
margin: 0 auto;
}
a:hover{
    color: orangered;
margin: 0;
}
nav{
    font-size: 18px;
    
}

h1{
    color: #1098ad;
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}